DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=personal_finance_db
DB_PORT=3306
JWT_SECRET=thay_bang_chuoi_bi_mat_dai_va_ngau_nhien
PORT=3000
ADMIN_USERNAME=huong
ADMIN_PASSWORD=12345678
ADMIN_EMAIL=admin@quanlytaichinh.local
ADMIN_FULL_NAME=Quản trị viên
